<main id="home">
  <h1 class="lg-heading">
    Pedro 
    <span class="text-secondary">'Pejolopi' </span>
   Pinheiro
  </h1>
  <h2 class="sm-heading">
    Web Developer, Programmer & Amante do Basket
  </h2>
  <div class="icons" style="font-size: 15px; padding-top: 1em;"> &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; &nbsp;	
    <a [routerLink]="['/inicio']" class="nav-link">
      Ínicio
    </a>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
    <a [routerLink]="['/sobre']" class="nav-link">
      Sobre
    </a>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
    <a [routerLink]="['/projetos']" class="nav-link">
      Projetos
    </a>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	
    <a [routerLink]="['/contatos']" class="nav-link">
      Contatos
    </a>
  
    <a style="float: right" href="">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a style="float: right" href="https://www.facebook.com/Pejolopi">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a style="float: right" href="https://www.linkedin.com/in/pedro-pinheiro-30219117b/">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a style="float: right" href="">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a style="float: right" download="">
        <i class="far fa-address-card fa-2x"></i>
      </a>
  </div>
</main>
