<main id="work">
  <a [routerLink]="['/inicio']" style="font-size: 30px">&lArr;</a>
  <h1 class="lg-heading">
    My
    <span class="text-secondary">Work</span>
  </h1>
  <h2 class="sm-heading">
    Veja alguns dos meus projetos...
  </h2>
  <div class="projects">
    <div class="item">
      <a href="#!">
        <img src="./assets/project1.jpg" alt="Project">
      </a>
      <a href="#" class="btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="#" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <div class="item">
      <a href="#!">
        <img src="./assets/project1.jpg" alt="Project">
      </a>
      <a href="#" class="btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="#" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <div class="item">
      <a href="#!">
        <img src="./assets/project2.png" alt="Project">
      </a>
      <a href="#" class="btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="#" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <div class="item">
      <a href="#!">
        <img src="./assets/project1.jpg" alt="Project">
      </a>
      <a href="#" class="btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="#" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <div class="item">
      <a href="#!">
        <img src="./assets/project2.png" alt="Project">
      </a>
      <a href="#" class="btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="#" class="btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <div class="item">
        <a href="#!">
          <img src="./assets/project2.png" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
          <a href="#!">
            <img src="./assets/project2.png" alt="Project">
          </a>
          <a href="#" class="btn-light">
            <i class="fas fa-eye"></i> Project
          </a>
          <a href="#" class="btn-dark">
            <i class="fab fa-github"></i> Github
          </a>
        </div>
        <div class="item">
            <a href="#!">
              <img src="./assets/project2.png" alt="Project">
            </a>
            <a href="#" class="btn-light">
              <i class="fas fa-eye"></i> Project
            </a>
            <a href="#" class="btn-dark">
              <i class="fab fa-github"></i> Github
            </a>
          </div>
  </div>
</main>