<main id="contact">
    <a [routerLink]="['/inicio']" style="font-size: 30px">&lArr;</a>
  <h1 class="lg-heading">
    Contact
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">
    Como contatar...
  </h2>
  <div class="boxes">
    <div>
      <a href="mailto:pejolopi@hotmail.com">
        <span class="text-secondary">Email: </span> pejolopi@hotmail.com
      </a>
    </div>
    <div>
      <span class="text-secondary">Phone: </span> (+357) 932 206 944
    </div>
    <div>
      <a href="https://www.google.pt/maps/dir//Barreiro/@38.660794,-9.1491124,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd19364130a15035:0xf646c05c5d94b5f7!2m2!1d-9.0790724!2d38.6608149!5m1!1e1">
        <span class="text-secondary">Address: </span> Barreiro, Setúbal, Portugal
      </a>
    </div>
  </div>
</main>