<main id="about">
  <a [routerLink]="['/inicio']" style="font-size: 30px">&lArr;</a>
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">
    Let me tell you a few things...
  </h2>
  <div class="about-info">
    <img src="./assets/pedropinheiro.jpeg" width=250px alt="Pedro Pinheiro" class="bio-image">
    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p> adipisicing elit. Deserunt magni nam nisi quae vitae? Quod molestiae ipsa
        autem natus eum vel ducimus nulla harum voluptatem eligendi! Unde, reiciendis? Praesentium, laborum.</p>
    </div>
    <div class="job job-1"  style="text-align: center;">
      <h3>Estágio 3 Meses</h3>
      <h5>Tranquilidade Seguros</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
        expedita dolor necessitatibus</p>
    </div>
    <div class="job job-2"  style="text-align: center;">
      <h3>Erasmus 3 Meses</h3>
      <h5>BmSoft</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
        expedita dolor necessitatibus</p>
    </div>
    <div class="job job-3" style="text-align: center;">
      <h3>Estágio 4 Meses</h3>
      <h5>Red It</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
        expedita dolor necessitatibus</p>
    </div>
  </div>
</main>